/* 왼쪽으로 정렬을 하는데 간격과 크기 조정 */
aside#left{
    width: 215px;
    float: left;
    margin-top: 15px;
    font-weight: bold;
}
/* 카테고리 아이템 박스? */
#left #sub_title{
    padding: 12px;
    background-color: #96c11f;
    color: ffffff;
    text-align: center;
}
/* aside의 글자를 박스안에 가두는 것 */
#left li{
    color: #666666;
    padding: 7px 0 7px 30px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
/* 간격 */
#left #customer{
    width: 213px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
#left #customer img{
    margin: 5px 0 0 5px;
}
/* 우측 */
#right{
    width: 750px;
    float: right;
    margin-top: 20px;
}
/* 상품구매정보 */
#right #summary h3{
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #444444;
}
#right #summary h3 span{
    color: #08a727;
}
#right #summary1{
    float: left;
    margin-top: 20px;
}
#right #summary1 .buttons{
    text-align: center;
    margin-top: 10px;
}
#right #summary2{
    width: 390px;
    float: right;
    margin-top: 20px;
}
#right #summary2 .item{
    margin: 20px 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
#right #summary2 .item li{
    margin: 10px 0 0 0;
}
#right #summary2 .col1{
    width: 100px;
    float: left;
}
#right #summary2 .col2{
    width: 200px;
    float: left;
}
#right #summary2 .size{
    margin:20px 0 0 20px;
    padding-bottom: 10px;       /*HTML 요소의 내부 여백(패딩) 중 하단 부분을 지정*/
    border-bottom: 1px solid #cccccc;   /*테두리 아래쪽*/
}
#right #summary2 .size li{
    margin: 5px;
}
#right #summary2 .buttons{
    margin: 15px 0 0 120px;
}
#right #summary2 .buttons li{
    display: inline;
}

/* 상품 설명 */
#right #explanation h3{
    font-size: 16px;
    padding-bottom: 8px;
    margin-top: 30px;
    border-bottom: 1px solid #444444;
    color: #80a727;
}
#right #explanation h2{
    margin: 20px 0 0 20px;
}
#right #explanation_box{
    width: 720px;
    height: 230px;
    margin: 20px 0 0 20px;
    border: 1px solid #666666;
    border-top: 4px solid #666666;
    background-color: #ffffff;
}
#right #explanation_box ul{
    padding: 30px 0 0 20px;
    font-size: 14px;
}
#right #explanation_box li{
    width: 670px;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
}
#right #explanation_box .col1{
    float: left;
    width: 80px;
    font-weight: bold;
}
#right #explanation_box .col2{
    float: left;
}
#right #explanation_box .col2 span{
    color: #0000ff;
    font-weight: bold;
}

/* 유의사항 */
#right #required h3{
    font-size: 16px;
    padding-bottom: 8px;
    margin-top: 30px;
    border-bottom: 1px solid #444444;
    color: #80a727;
}
#right #required dl{
    margin: 20px 0 0 30px;
}
#right #required dt{
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
#right #required dd{
    font-size: 13px;
    margin: 5px 0 0 20px;
}
#right h2#cart_title{
    padding: 0 0 5px 0;
    border-bottom: 1px solid #000000;
}
#right h2#cart_title span{
    color: #688912;
}
#right #process{
    margin: 15px 0 0 10px;
}
#right table{
    width: 100%;
    margin: 10px 0 0 0;
    border-collapse: collapse;
    border-top: 2px solid #688912;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
#right tr.title{
    height: 50px;
    background-color: #e9e8e9;
}
#right th{
    padding: 10px;
    border-bottom: 2px solid #cccccc;
}
#right tr.items{
    height: 80px;
    border-bottom: 2px solid #cccccc;
}

#right tr.items td{
    padding: 5px;
    border-bottom: 2px solid #cccccc;
}
#right tr.items.col1{
    width: 50px;
    text-align: center;
}
#right tr.items.col2{}
#right tr.items.col3{
    width: 60px;
    text-align: center;
}
#right tr.items.col4{
    width: 80px;
    text-align: center;
}
#right tr.items.col5{
    width: 80px;
    text-align: center;
}
#right tr.items.col6{
    width: 80px;
    text-align: center;
}
#right tr.items.col7{
    width: 80px;
    text-align: center;
}
#right tr.total_price{
    height: 25px;
}
#right tr.total_price td{
    text-align: right;
    padding: 10px;
}
#right tr.order_status_box{
    height: 100px;
    background-color: #e9e8e9;
    border-top: 2px solid #cccccc;
}
#right tr.order_status_box td{
    vertical-align: top;
}
#right tr.order_status{
    position: absolute;
}
#right tr.order_status_p{
    position: absolute;
    top: 40px;
    left: 20px;
}
#right tr.order_status_div{
    position: absolute;
    top: 20px;
    left: 480px;
}
#right tr.order_status_li{
    display: inline-block;
    margin: 2px;
}
/* 장바구니 */
#right tr.order_status_.col1{
    width: 150px;
    text-align: right;
}
#right tr.order_status_.col2{
    width: 80px;
    text-align: right;
}
#right table span{
    font-weight: bold;
}
#right #order_buttons{
    margin: 20px 0 0 0;
    text-align: center;
}
#right #order_buttons li{
    display: inline;
}