/*왼쪽 콘텐츠*/
aside{
    width: 190px;
    float: left;
}
/* 로그인 박스 */
aside #login_box{
    width: 186px;
    height: 120px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: lightblue;
}
aside #login_title{
    margin: 10px 0 0 10px;
}
#login_input{float: left;}
#login_btn{
    float: left;
    margin: 3px 0 0 5px;
}
#login_input input{
    width: 100px;
    height: 20px;
    border: 1px solid green;
}
#login_input li{
    margin-top:2px;
}
#join_search{
    margin: 10px 0 0 5px;
}

#guestbook{
    width: 189px;
    height: 135px;
    margin-top: 15px;
    background-color: silver;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 5px green;
}
#guestbook ul{margin: 10px 0 0 40px;}

#guestbook li{
    margin-top: 5px;
    list-style-image: url(../img/icon_blue.gif);
}
/* 우측 메인 콘텐츠 */
section#main{
    width: 758px;
    float: right;
}
/* 공지사항 자유 게시판 유튜브를 포함하는 박스 */
section#main #notice_free_youtube {
    height: 250px;
    position: relative;
    margin-top: 10px;
}
/* 공지사항 박스 */
section#main #notice{
    width: 360px;
    position: absolute;
}
/* 최근 게시물 제목 */
section#main .latest_title{
    padding-bottom: 3px;
    border-bottom: 1px solid #cccccc;
}
section#main .latest_title img.latest_img{
    float: left;
}
section#main .latest_title img.more{
    float: right;
}
/* 최근 게시물 이미지와 목록 */
section#main .latest_content .image{
    float: left;
    margin: 10px 0 0 20px;
}
section#main .latest_content .list{
    float: right;
}
section#main .latest_content li{
    padding: 10px 0 10px 0;
}
section#main .latest_content .list div{
    float: left;
}
section#main .latest_content .list .subject{
    width: 170px;
}
/* 자유 게시판 박스 */
section#main #free{
    width: 360px;
    position: absolute;
    top: 120px;
}
/* 유튜브 박스 */
section#main #youtube{
    width: 365px;
    height: 250px;
    position: absolute;
    left: 380px;
}
section#main #youtube_img{
    margin: 10px 0 0 45px;
}
section#main #gallery_box{
    width: 749px;
    height: 204px;
    margin: 10px 0 0 5px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #dddddd;
}
section #gallery_list{
    padding: 25px 0 0 18px;
}
section .items{
    float: left;
    text-align: center;
    margin-left:35px ;
}
section .items li{
    margin-top: 3px;
}