*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;           /* Flexbox 설정 */
    justify-content: center;  /* 가로 중앙 정렬 */
    align-items: center;      /* 세로 중앙 정렬 */
    min-height: 100vh;        /* body 높이를 브라우저 높이로 설정 */
    margin: 0;                /* body 마진 제거 */
    padding: 0;               /* body 패딩 제거 */
    background: #f0f0f0;      /* 배경색 설정 */
  }
  .box1{
    position: relative;  /* 추가 */
    width: 670px;
    height: 960px;
    background: white;
    border: 1px solid #aacdff;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
  }

  .box2{
    position: relative;  /* 추가 */
    width: 470px;
    height: 818px;
    align-items: center;
  }

  h3{
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    text-align: left;
  }

  .checkbox{
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: black;
    align-items: center;
  }

  button{
    box-sizing: border-box;
    width: 100%;  /* 수정 */
    height: 75px;
    border: 1px solid aqua;
    border-radius: 10px;
    align-items: center;
  }

  .type{
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: red;
  }
